@import "common.scss";
@import "_mixin.scss";
body,
html {
    width: 100%;
    height: 100%;
    i {
        font-size: px2rem(16px);
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: px2rem(18px);
    .header {
        width: 100%;
        height: px2rem(50px);
        line-height: px2rem(50px);
        display: flex;
        justify-content: space-around;
    }
    .section {
        width: 100%;
        flex: 1;
        .list {
            width: 100%;
            height: px2rem(30px);
            line-height: px2rem(30px);
            display: flex;
            // margin-top: px2rem(40px);
            justify-content: space-around;
        }
        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .dl {
                width: 33.3%;
                height: px2rem(170px);
                margin-top: px2rem(20px);
                text-align: center;
                dt {
                    img {
                        width: 70%;
                    }
                }
                dd {
                    h2 {
                        font-size: px2rem(15px);
                    }
                    p {
                        font-size: px2rem(13px);
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        height: px2rem(50px);
        line-height: px2rem(50px);
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #ccc;
        text-align: center;
        .ddyy {
            width: 33.3%;
            height: px2rem(50px);
            display: flex;
        }
    }
}